In [18]:
import pandas as pd
import numpy as np
import datetime

In [19]:
df = pd.read_parquet('earnings_date=2022-02-10')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB

In [20]:
df

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6227
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4437
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,6228
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3127
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,3930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,4052
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2886
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,8586
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,6493
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5261

In [31]:
def create_data_frames():
    min_value = df["earnings"].min()
    avg_value = df["earnings"].max()
    df['earnings'] = np.random.randint(min_value, avg_value, size=df.shape[0])
    return df

In [32]:
print(create_data_frames())

    emp_id first_name middle_initial last_name                         email  \
0   526540  Angelique              K   Goodwin   angelique.goodwin@gmail.com
1   859327       Jeni              S   Shaffer        jeni.shaffer@gmail.com
2   887387     Donald              T    Farris   donald.farris@bellsouth.net
3   779497     Steven              D    Rendon       steven.rendon@gmail.com
4   896517     Jenell              L   Almanza      jenell.almanza@yahoo.com
..     ...        ...            ...       ...                           ...
95  549389   Clemente              M     Gould    clemente.gould@hotmail.com
96  466832      Chang              K     Roden         chang.roden@yahoo.com
97  203380     Marvin              R    Nickel         marvin.nickel@ibm.com
98  915991     Eldora              Y   Tribble  eldora.tribble@earthlink.net
99  289172      Azzie              L    Layman    azzie.layman@hotmail.co.uk

   date_of_birth date_of_joining          ssn  phone_number  user_name  \
0     1964-05-15      2001-03-24  471-57-0359  212-884-7146  akgoodwin
1     1962-01-13      2015-12-10  624-85-4146  205-665-7020  jsshaffer
2     1958-04-11      1979-11-12  097-02-3315  205-959-7879   dtfarris
3     1982-04-04      2008-09-18  134-98-6566  217-858-0054   sdrendon
4     1958-07-01      1993-07-14  599-92-7345  314-893-2590  jlalmanza
..           ...             ...          ...           ...        ...
95    1961-12-31      1992-10-02  271-17-5467  228-485-0919    cmgould
96    1988-09-07      2010-08-06  074-02-9202  316-256-7851    ckroden
97    1986-11-25      2012-10-06  552-99-5545  270-750-7760   mrnickel
98    1995-05-29      2016-10-17  763-12-2082  236-584-1916  eytribble
99    1961-09-06      2004-03-26  637-29-1007  503-456-5899   allayman

           password office_branch  earnings
0        z{d>ez%{.@        Nashua      8112
1          7U56!*!O      Stanford      6023
2     rX.F{j&]&m&&X      Stanford      6198
3       a+2;sx}<G]y        Nashua      6078
4          Ou7RX{yT      New York      3262
..              ...           ...       ...
95    m1%+0ojh7VIvJ      Stanford      7010
96  5|Rn]G:#58f$>+S        Nashua      7348
97        8*E[g-_X|      Scranton      4993
98       z>ms?;$8-u        Nashua      3380
99   k<%?%TML.].1ZY      New York      6773

[100 rows x 13 columns]

In [33]:

for i in range(2):
    table=create_data_frames()
    table.to_parquet("earnings_data{}".format(i))

In [36]:
a= pd.read_parquet('earning_employee_data0/earnings_data0')
a

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,4008
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,3391
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,8443
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,5329
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,4138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,6189
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,6579
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,5453
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,3700
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,6900

In [37]:
b= pd.read_parquet('earning_employee_data1/earnings_data1')
b

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,8063
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,6958
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,3309
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3305
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,8661
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,3596
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,7782
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,6646
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,3467
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,3694

In [26]:
table.to_csv("date")

In [28]:
a= pd.read_csv('date')
a

,Unnamed: 0,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,4939
1,1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,2792
2,2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,7005
3,3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,9668
4,4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,3990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,7287
96,96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2941
97,97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,4101
98,98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,4304
99,99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,8493

In [38]:
def generate_data(a):
    min_values = df['earnings'].min()
    average_values = df['earnings'].mean()
    for i in range(a):
        df['earnings'] = np.random.randint(min_values, average_values, size=df.shape[0])
        filename = f"dataframe{i}.parquet"  # Use string formatting to create the filename
        df.to_parquet(filename)
    return df

In [39]:
generate_data(2)

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,4636
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4143
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,2898
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3930
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,5403
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,3481
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,5010
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,4479
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,3838
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,2711

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB